<script>
 	/*------------------
        Background Set
    --------------------*/
    $('.set-bg').each(function () {
        var bg = $(this).data('setbg');
        $(this).css('background-image', 'url(' + bg + ')');
    });


	 /*------------------
		Navigation
	--------------------*/
    $(".mobile-menu").slicknav({
        prependTo: '#mobile-menu-wrap',
        allowParentLinks: true
    });



</script>
<!-- Hero Section Begin -->
<section class="hero">
	<div class="hero__slider owl-carousel">
		<div class="hero__items set-bg" data-setbg="img/banner/{{banner.image}}" ng-repeat="banner in ctrl.banners | filter:{ type: 'HOMEBANNER' }">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-7 col-md-8">
						<div class="hero__text" ng-show="banner.needText">
							<!--<h6>Summer Collection</h6>-->
							<h2>{{banner.name}}</h2>
							<p>{{banner.description}}</p>
							<a href="{{banner.link}}#top" class="primary-btn">Shop now <span class="arrow_right"></span></a>
							<div class="hero__social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-pinterest"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<!--
<section class="banner spad">
	<div class="container">
		<div class="row">
			<div class="{{$index%2 === 0 ? 'col-lg-7' : ''}}  {{$index == 0 ? 'offset-lg-4' : ''}}" ng-repeat="banner in ctrl.banners | filter:{ type: 'HOMECOLLECTION'} ">
				<div class="banner__item {{$index%3 === 0 ? '' : ($index%3 === 1 ? 'banner__item&#45;&#45;middle' : 'banner__item&#45;&#45;last' ) }}">
					<div class="banner__item__pic">
						<img src="img/banner/{{banner.image}}" alt="">
					</div>
					<div class="banner__item__text">
						<h2>{{banner.name}}</h2>
						<a href="{{banner.link}}#top">Shop now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!-- Banner Section End -->

<!-- Product Section Begin -->
<!--
<section class="product spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="filter__controls">
					<li class="active" data-filter="*">Favourites</li>
					<li data-filter=".new-arrivals">New Arrivals</li>
					<li data-filter=".hot-sales">Hot Sales</li>
				</ul>
			</div>
		</div>
		<div class="row product__filter">
			<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix  {{product.discount == 0 ? 'new-arrivals' : 'hot-sales'}}" ng-repeat="product in ctrl.homeProducts " >
				<div class="product__item  {{product.discount == 0 ? '' : 'sale'}}">
					<a href="#/productDetail/{{product.id}}#top">
					<div class="product__item__pic set-bg" data-setbg="img/product/{{product.thumbnail}}" >
						<span class="label" ng-show="product.discount != 0">Sale {{product.discount}}%</span>
						<span class="label" ng-show="ctrl.alertProdId == product.id && product.quantity != 0" style="color: #ffffff;background: #e53637e0;margin-top: 25px;">put to cart</span>
					</div></a>
					<div class="product__item__text">
						<h6>{{product.name}}</h6>
						<a href="" class="add-cart" ng-click="ctrl.addToCart(product)" >+ Add To Cart</a>
						<h5>{{product.sellPrice*(100 - product.discount)/100 | number:0}}đ</h5>
						<h5 ng-show="product.discount != 0"><s style="color: #0d0d0d6e;">{{product.sellPrice | number:0}}đ</s></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!-- Product Section End  -->
<!-- Latest Blog Section Begin -->
<!--
<section class="latest spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<span>Latest News</span>
					<h2>Eyewear New Trends</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="article in ctrl.homeArticles ">
				<div class="blog__item">
					<div class="blog__item__pic set-bg" data-setbg="img/blog/{{article.thumbnail}}"></div>
					<div class="blog__item__text">
						<span><img src="img/icon/calendar.png" alt="">{{article.gmtModify | date:"dd-MM-yyyy"}}</span>
						<h5>{{article.name}}</h5>
						<a href="#/blogDetail/{{article.id}}#top">Read More</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
-->

<!-- Latest Blog Section End -->
