<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb__text">
					<h4>Shopping Cart</h4>
					<div class="breadcrumb__links">
						<a href="./index.html">Home</a>
						<a href="./shop.html">Shop</a>
						<span>Shopping Cart</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="shopping__cart__table">
					<table>
						<thead>
						<tr>
							<th>Product</th>
							<th>Quantity</th>
							<th>Total</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<div class="alert alert-success" role="alert" ng-show="ctrl.order_return_status"
							 style="margin-top:20px;">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">success:</span>
							Đặt hàng thành công. Mã đơn: A{{("000"+ctrl.newOrderId).slice(-4)}}. Vào trang cá nhân để theo dõi đơn hàng
						</div>

						<tr ng-repeat="item in ctrl.currentCart track by $index">
							<td class="product__cart__item" >
								<div class="product__cart__item__pic">
									<a href="#/productDetail/{{item.prod.id}}"><img src="img/product/{{item.prod.thumbnail}}" alt="" style="width: 90px;"></a>
								</div>
								<div class="product__cart__item__text">
									<h6>{{item.prod.name}}</h6>
									<h5>{{item.prod.sellPrice*(100 - item.prod.discount)/100 | number:0}}đ</h5>
									<h5 ng-show="item.prod.discount != 0"><s style="color: #0d0d0d6e;">{{item.prod.sellPrice | number:0}}đ</s></h5>
								</div>
							</td>
							<td class="quantity__item">
								<div class="quantity">
									<div class="pro-qty-2">
										<input type="number" value="1" ng-model="item.quantity"ng-change="ctrl.updateTotal()"
											   autocomplete="off" style="width:40px;" min="1" max="9">
									</div>
								</div>
							</td>
							<td class="cart__price">{{(item.prod.sellPrice*(100 - item.prod.discount)/100) * item.quantity | number:0}}đ</td>
							<td class="cart__close"><i class="fa fa-close" ng-click="ctrl.removeItem($index)"></i></td>
						</tr>

						</tbody>
					</table>
				</div>

			</div>
			<div class="col-lg-4">
				<div class="cart__discount">
					<h6>Discount codes</h6>
					<form>
						<input type="text" placeholder="Coupon code" ng-model="ctrl.couponCode">
						<button type="button" ng-click="ctrl.getCoupon(ctrl.couponCode)">Apply</button>
					</form>
				</div>
				<div class="cart__total">
					<h6>Cart total</h6>
					<ul>
						<li>Subtotal <span>{{ctrl.subTotal | number:0}}đ</span></li>
						<li>Coupon <span>({{ctrl.couponDiscount}}%) {{(ctrl.couponDiscount)/100*ctrl.subTotal | number:0}}đ</span></li>
						<li>Total <span>{{ctrl.total | number:0}}đ</span></li>
					</ul>
					<a href="" class="primary-btn" ng-click="ctrl.placeOrder()">Place order</a>
					<div class="alert alert-danger" role="alert" ng-show="ctrl.isErrorMsg"
						 style="margin-top:20px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
						{{ctrl.isErrorMsg}}
					</div>

					<div class="alert alert-success" role="alert" ng-show="ctrl.order_return_status"
						 style="margin-top:20px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">success:</span>
						Đặt hàng thành công. Mã đơn: A{{("000"+ctrl.newOrderId).slice(-4)}}. Vào trang cá nhân để theo dõi đơn hàng
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 ">
				<h6 class="checkout__title">Shipping Details</h6>
				<div class="row">
					<div class="col-lg-6">
						<div class="checkout__input">
							<p>Full Name<span>*</span></p>
							<input type="text"  ng-model="ctrl.me.fullName" ng-change="ctrl.clearErrorMsg()">
						</div>
					</div>
					<div class="col-lg-6	">
						<div class="checkout__input">
							<p>Phone<span>*</span></p>
							<input type="text" ng-model="ctrl.me.phone" ng-change="ctrl.clearErrorMsg()">
						</div>
					</div>
				</div>
				<div class="checkout__input" style="margin-bottom: 50px;">
					<p>Address<span>*</span></p>
					<input type="text" placeholder="Điền địa chỉ chính xác để nhận hàng nhanh chóng.&#10;Và ghi chú cần thiết khi giao hàng." class="checkout__input__add"
						   ng-model="ctrl.me.address" ng-change="ctrl.clearErrorMsg()">

				</div>
				<h6 class="checkout__title" style="text-transform: inherit;">*After place order, shop will contact, then you can use these to pay</h6>
				<div class="checkout__input">
					<p>Momo:</p>
				</div>
				<div class="checkout__input">
					<p>Bank transfer:</p>
				</div>
			</div>
		</div>



	</div>
</section>
<!-- Shopping Cart Section End -->

