<style>

.thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
    margin-bottom: 20px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.bt {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}
</style>
<!--<link href="css/main2.css" rel="stylesheet">-->
<section>
	<div class="container" ng-cloak>
		<h3 style="padding-bottom: 40px;text-align: center;">Coupon management </h3>

		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-1">
				id:
				<input type="number"  ng-model="ctrl.theCoupon.id" disabled="disabled" placeholder="id" style="width:60px;"/>
			</div>
			<div class="col-md-2">
				Code:
				<input type="text"  ng-model="ctrl.theCoupon.code" placeholder="code" style="width: 100%;"/>
			</div>
			<div class="col-md-1">
				% gía trị:
				<input type="text"  ng-model="ctrl.theCoupon.value" placeholder="value" style="width: 100%;"/>
			</div>
			<div class="col-md-3">
				Miêu tả:
				<input type="text"  ng-model="ctrl.theCoupon.name" placeholder="name" style="width: 100%;"/>
			</div>
			<div class="col-md-1">
				Số lượng:
				<input type="text"  ng-model="ctrl.theCoupon.quantity" placeholder="quantity" style="width: 100%;"/>
			</div>
			<div class="col-md-1">
				Expire:
				<input type="text"  ng-model="ctrl.theCoupon.lifespan" placeholder="lifespan" style="width: 100%;"/>
			</div>
			<div class="col-md-1">
				Loại:
				<select  ng-model="ctrl.theCoupon.couponType"
						 ng-options="opt.value as opt.name for opt in ctrl.CouponTypeList"
						 style="height: 30px;border: 1px solid #e1e1e1;width: 100%;">
				</select>
			</div>
			<div class="col-md-1" ng-if="ctrl.isGodLike">
				client:
				<select  ng-model="ctrl.theCoupon.clientCode"
						 ng-options="opt.clientCode as opt.brandName for opt in ctrl.clientList | filter:{clientCode: '!GODLIKE'}"
						 style="height: 30px;border: 1px solid #e1e1e1;width: 100%;"
						 ng-change="ctrl.filterCouponByClientCode(ctrl.theCoupon.clientCode)">
				</select>
			</div>
			<!--<div class="col-md-1">
				function:
				<select  ng-model="ctrl.theCoupon.createdBy"
						 ng-options="opt.value as opt.name for opt in ctrl.CouponCreatedByList"
						 style="height: 30px;border: 1px solid #e1e1e1;width: 100%;">
				</select>
			</div>-->


		</div>
		<div class="row" style="margin-bottom: 30px;">
			<div class="col-md-2">
				<a ng-click="ctrl.upsert(ctrl.theCoupon)" href="" class="btn btn-default check_out" style="margin: 0px 0px 0px 0px;">Save</a>
				<a ng-click="ctrl.clear()" href="" class="btn btn-default check_out" style="margin: 0px 0px 0px 0px;">clear</a>
			</div>
			<div class="col-md-5">
				<alert type="success" close="ctrl.closeAlert()" ng-if="ctrl.responseStr"
					   dismiss-on-timeout="3000" style="margin: 0px 0px 0px 0px;width: 120px;height: 0px;padding: 5px 0px 25px 10px;" >
					thành công
				</alert>

				<alert type="danger" close="ctrl.closeAlert()" ng-if="ctrl.responseStrFail"
					   dismiss-on-timeout="3000" style="margin: 0px 0px 0px 0px;width: 290px;height: 0px;padding: 5px 0px 25px 10px;float: left;" >
					error: duplication, server error...
				</alert>

			</div>
		</div>

		<div class="row" style="margin-top: 20px;margin-bottom: 10px;">

			<div class="col-sm-2" style="">
				<select  ng-model="ctrl.couponCreatedBy"
						 ng-options="opt.value as opt.name for opt in ctrl.CouponCreatedByList"
						 ng-change="ctrl.filterCoupon(ctrl.couponCreatedBy)"
						 style="width: 60%;height: 35px;border: 1px solid rgb(118 118 118);border-radius: 4px;background: #FFFFFF;">
				</select>

			</div>
			<div class="col-sm-11">

			</div>
		</div>

		<!--data table-->
        <div class="table-responsive">
            <table ng-table="ctrl.tableParams" class="table table-bordered table-hover table-striped" show-filter="true">
			    <tr ng-repeat="coupon in $data">
			        <td title="'id'" filter="{ 'id': 'number'}" sortable="'id'" style="width:80px;text-align: center;">
			        	<a href="" ng-click="ctrl.updateCoupon(coupon)">{{coupon.id}}</a>
			        </td>
					<td title="'code'" filter="{ 'code': 'text'}" sortable="'code'"  style="width:130px;">
						<a href="" ng-click="ctrl.updateCoupon(coupon)">{{coupon.code}} </a>
					</td>
					<td title="'value'" filter="{ 'value': 'text'}"  style="width:80px;">
						{{coupon.value}}
					</td>
			        <td title="'name'" filter="{ 'name' : 'text'}" sortable="'name'" style="width:200px;">
			        	{{coupon.name}}
			        </td>
					<td title="'qty'" filter="{ 'quantity' : 'text'}" sortable="'quantity'" style="text-align: right;width:80px;">
						{{coupon.quantity}}
					</td>
					<td title="'lifespan'" filter="{ 'lifespan' : 'text'}" sortable="'lifespan'" style="text-align: right;width:120px;">
						{{coupon.lifespan}}
					</td>
					<td title="'Type'" filter="{ 'couponType' : 'text'}" sortable="'couponType'" style="text-align: right;width:80px;">
						{{coupon.couponType}}
					</td>
			        <td title="'Modify'" filter="{ 'gmtModify' : 'text'}" sortable="'gmtModify'" >
			        	{{coupon.gmtModify | date:"yyyy-MM-dd hh:mm:ss"}}
			        </td>

					<td title="'status'" ng-style="ctrl.setStyle(coupon.status)">
						{{coupon.status == 0 ? 'invalid' : 'valid'  }}
					</td>

			      	<td title="'delete'" style="width:100px;" ng-if="ctrl.isAdmin">
						<a ng-click="ctrl.promptDelete(coupon.id)" href="" class="btn btn-default check_out" style="margin: 0px 0px 0px 0px;" >delete</a>
						<p ng-show="ctrl.deletingId == coupon.id">
							Are you sure?
							<a ng-click="ctrl.deleteCoupon(coupon)" href="" class="btn btn-default check_out" style="margin: 4px 4px 4px 4px;">yes</a>
							<a ng-click="ctrl.resetDelete()" href="" class="btn btn-default check_out" style="margin: 4px 4px 4px 4px;">no</a>
						</p>
			        </td>
			    </tr>
			</table>
        </div>
<!--

		<h3 style="padding-bottom: 40px;">History: discount order: {{ctrl.usedCouponList.length}} |  tolal: {{ctrl.totalDiscountAmount | number:0}}đ</h3>
		&lt;!&ndash;data table&ndash;&gt;
		<div class="table-responsive" style="width: fit-content;">
			<table ng-table="ctrl.usedCouponTableParams" class="table table-bordered table-hover table-striped" show-filter="true">
				<tr ng-repeat="usedCoupon in $data">
					<td title="'orderId'" filter="{ 'orderId': 'number'}" sortable="'orderId'" style="width:120px;text-align: center;">
						<a href="#/mgnt/storeOrder/{{usedCoupon.orderId}}" target="_blank" >{{usedCoupon.orderId}}</a>
					</td>
					<td title="'code'" filter="{ 'code': 'text'}" sortable="'code'"  style="width:130px;">
						{{usedCoupon.code}}
					</td>
					<td title="'value'" filter="{ 'couponValue': 'text'}" sortable="'couponValue'"  style="width:120px;text-align: center;">
						{{usedCoupon.couponValue}}%
					</td>
					<td title="'name'" filter="{ 'name' : 'text'}" sortable="'name'" style="text-align: right;">
						{{usedCoupon.name }}
					</td>
					<td title="'amount'" filter="{ 'orderAmount' : 'text'}" sortable="'orderAmount'" style="text-align: right;width:120px;">
						{{usedCoupon.orderAmount | number:0}}đ
					</td>
					<td title="'discount'" filter="{ 'discountAmount': 'number'}" sortable="'discountAmount'"  style="text-align: right;width:130px;">
						{{usedCoupon.discountAmount | number:0}}đ
					</td>
					<td title="'order date'" filter="{ 'orderDate' : 'text'}" sortable="'orderDate'" >
						{{usedCoupon.orderDate | date:"yyyy-MM-dd hh:mm:ss"}}
					</td>

					&lt;!&ndash;<td title="'delete'" style="width:100px;" >
						<a ng-click="ctrl.deleteCoupon(coupon)" href="" class="btn btn-default check_out" style="margin: 0px 0px 0px 0px;">delete</a>
					</td>&ndash;&gt;
				</tr>
			</table>
		</div>
-->

	</div>
</section>